@model IEnumerable<ShakeIt.Models.Drink>
@{
    ViewData["Title"] = "Drinks";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DrinkName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DrinkType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DrinkName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DrinkType)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DrinkId">Edit</a> |
                        <a asp-action="Drink" asp-route-id="@item.DrinkId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DrinkId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>



